body {
    background-color: var(--primaryBackgroundColor);
    background-size: 5rem 5rem;
    background-image:
        linear-gradient(var(--gridBackgroundColor) 0.1em, transparent 0.1em),
        linear-gradient(90deg, var(--gridBackgroundColor) 0.1em, transparent 0.1em);
    background-position: 3rem 3rem;
    background-attachment: fixed;
}
