.invisible {
    display: none;
}

.red {
    color: var(--quarternaryTextColor);
}

.arrows {
    position: relative;
    width: 1rem;
    height: 1rem;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: 0.2rem solid var(--primaryAccentColor);
        border-bottom: 0.2rem solid var(--primaryAccentColor);
        transform: translate(0, 0rem) rotate(-45deg);
        animation: arrows 2s linear infinite;
        filter: drop-shadow(0 0 1rem var(--primaryAccentColor));
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-left: 0.2rem solid var(--primaryAccentColor);
        border-bottom: 0.2rem solid var(--primaryAccentColor);
        transform: translate(0, -0.7rem) rotate(-45deg);
        animation: arrows 2s linear infinite -1s;
        filter: drop-shadow(0 0 1rem var(--primaryAccentColor));
    }
}
