a,
button {
    text-decoration: none;
    cursor: pointer;
}

.button {
    position: relative;
    max-width: fit-content;
    width: 100%;
    background: none;
    .buttonFront {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primaryButtonColor);
        color: var(--primaryTextColor);
        padding: 1rem 2rem;
        transition: 0.5s;
    }
    .buttonBack {
        background-color: var(--secondaryButtonColor);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: -1;
        transition: 0.5s;
        box-shadow: -0.15rem -0.15rem 1px 0 var(--secondaryButtonColor);
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            transition: 0.5s;
        }
        &::before {
            left: -0.5rem;
            bottom: 0;
            border-top: 0.5rem solid var(--secondaryButtonColor);
            border-left: 0.5rem solid transparent;
        }
        &::after {
            right: 0;
            top: -0.5rem;
            border-bottom: 0.5rem solid var(--secondaryButtonColor);
            border-right: 0.5rem solid transparent;
        }
    }
    &:hover {
        .buttonFront {
            transform: translate(-0.2rem, -0.2rem);
        }
        .buttonBack {
            &::before {
                left: -0.7rem;
                border-top: 0.7rem solid var(--secondaryButtonColor);
                border-left: 0.7rem solid transparent;
            }
            &::after {
                top: -0.7rem;
                border-bottom: 0.7rem solid var(--secondaryButtonColor);
                border-right: 0.7rem solid transparent;
            }
        }
    }
    &:active {
        .buttonFront {
            transform: translate(0.3rem, 0.3rem);
        }
        .buttonBack {
            &::before {
                left: -0.2rem;
                border-top: 0.2rem solid var(--secondaryButtonColor);
                border-left: 0.2rem solid transparent;
            }
            &::after {
                top: -0.2rem;
                border-bottom: 0.2rem solid var(--secondaryButtonColor);
                border-right: 0.2rem solid transparent;
            }
        }
    }
}
