:root {
    --gridBackgroundColor: #07210b;

    --primaryBackgroundColor: #000000;
    --primaryAccentColor: #1e8114;
    --secondaryAccentColor: #2ab01c;

    --primaryTextColor: #ffffff;
    --secondaryTextColor: #2ab01c;
    --tertiaryTextColor: #000000;

    --primaryButtonColor: #a60111;
    --secondaryButtonColor: #610009;

    --primaryBadgeColor: #1e8114;
    --secondaryBadgeColor: #105409;

    --iconSm: 3rem;
}
