main {
    .aboutMeContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        .me {
            height: 100vh;
            container-type: inline-size;
            container-name: aboutMe;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            width: 100vw;
            overflow: hidden;
            align-self: center;
            .portraitContainer {
                display: grid;
                position: absolute;
                align-items: center;
                justify-content: center;
                filter: drop-shadow(0 0 0.5rem var(--primaryAccentColor));
                max-width: 20rem;
                aspect-ratio: 2 / 3;
                z-index: 1;
                margin: 0 1rem;
                figure {
                    grid-area: 1/1;
                    aspect-ratio: 2 / 3;
                    border: 0.5rem solid var(--primaryAccentColor);
                    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
                    background-color: var(--primaryAccentColor);
                    width: fit-content;
                    height: fit-content;
                    img {
                        aspect-ratio: 2 / 3;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
                        // filter: brightness(0.2);
                    }
                }
                p {
                    grid-area: 1/1;
                    margin: 0 0.5rem 0 1rem;
                    z-index: 1;
                    opacity: 0;
                    // animation: glitch 1s;
                    // animation-iteration-count: 1;
                }
                .introductionText {
                    z-index: 2;
                }
                .introductionTextCopy1 {
                    color: var(--secondaryTextColor);
                }
                .introductionTextCopy2 {
                    color: var(--primaryButtonColor);
                }
            }
            .textContainer {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .text {
                    display: flex;
                    flex-direction: row;
                    gap: 5rem;
                    overflow: hidden;
                    white-space: nowrap;
                    will-change: transform;
                    h2 {
                        width: fit-content;
                        text-wrap: nowrap;
                        font-size: 12rem;
                        color: var(--secondaryTextColor);
                        filter: drop-shadow(0 0 0.5rem var(--primaryAccentColor));
                    }
                    &:nth-of-type(odd) {
                        animation: marqueeEffect 100s infinite linear;
                    }
                    &:nth-of-type(even) {
                        animation: marqueeEffectReverse 100s infinite linear;
                    }
                }
            }
        }
    }
}
