main {
    .homePageWrapper {
        #wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            .myExperience {
                display: flex;
                justify-content: center;
                gap: 2rem;
                margin: 0 1rem;
                .timelineContainer {
                    display: flex;
                    align-items: center;
                    height: 100vh;
                    display: none;
                    .timeline {
                        display: block;
                        height: fit-content;
                        position: relative;
                        svg {
                            max-height: 70vh;
                            height: 100%;
                            width: fit-content;
                        }
                        .tube {
                            filter: drop-shadow(0 0 0.5rem var(--primaryAccentColor));
                        }
                        .tubeFiller {
                            position: absolute;
                            left: 0;
                            top: 0;
                            clip-path: inset(0% 0% 100% 0%);
                        }
                    }
                }
                .experiences {
                    display: flex;
                    flex-direction: column;
                    gap: 10rem;
                    align-items: center;
                    // display: grid;
                    // grid-template-rows: repeat(1, 1fr);
                    height: fit-content;
                    .experience {
                        // grid-area: 1/1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: end;
                        // height: 100vh;
                        width: 90%;
                        justify-self: center;
                        .experienceContainer {
                            display: flex;
                            align-items: center;
                            position: relative;
                            max-width: 60rem;
                            filter: drop-shadow(0 0 0.5rem var(--primaryAccentColor));
                            .experienceContainerBorder {
                                clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
                                border: 0.5rem solid var(--primaryAccentColor);
                                background-color: var(--primaryAccentColor);
                                .experienceContainerClip {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 2rem;
                                    position: relative;
                                    clip-path: polygon(10% 0, 100% 0, 100% 80%, 90% 100%, 0 100%, 0 20%);
                                    background-color: black;
                                    padding: 4rem 3rem;
                                    .experienceTextContainer {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 0.5rem;
                                    }
                                    &::before,
                                    &::after {
                                        position: absolute;
                                        width: 6rem;
                                        height: 6rem;
                                    }
                                    &::before {
                                        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 115 115' fill='none'><path d='M24.999 25L24.999 90L89.999 90L114.999 115L-0.000465393 115L-0.000475447 1.00536e-05L24.999 25Z' fill='%231e8114'/></svg>");
                                        left: 0;
                                        bottom: 0;
                                    }
                                    &::after {
                                        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 115 115' fill='none'><path d='M90 90V25H25L0 0H114.999V115L90 90Z' fill='%231e8114'/></svg>");
                                        right: 0;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                    // .experienceContainer {
                    //     &::before {
                    //         position: absolute;
                    //         left: -10%;
                    //         writing-mode: vertical-lr;
                    //         text-orientation: upright;
                    //     }
                    // }
                    // .first .experienceContainer {
                    //     &::before {
                    //         opacity: var(--before-opacity, 1);
                    //         opacity: 1;
                    //         content: "2023";
                    //     }
                    // }
                    // .second .experienceContainer {
                    //     &::before {
                    //         content: "2024";
                    //     }
                    // }
                }
            }
        }
    }
}
