.pageHeaderOne {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    top: 0;
    .headerContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        margin: 1rem 2rem 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2rem;
        justify-content: space-between;
        max-width: 80rem;
        clip-path: polygon(0 0, 95% 0, 100% 15%, 100% 100%, 5% 100%, 0 85%);
        a {
            img {
                min-width: 7rem;
                width: clamp(7rem, 10vw, 10rem);
            }
        }
        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            justify-content: flex-end;
            width: 100%;
            z-index: 11;
        }
    }
}
