main {
    .projectContainer {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        > h2 {
            text-align: center;
        }
        .projects {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            margin: 0 1rem;
            padding-top: 150px;
            .project {
                display: grid;
                align-items: center;
                justify-content: center;
                max-width: 60rem;
                width: 100%;
                container-type: inline-size;
                container-name: projectPreview;
                > img {
                    grid-area: 1/1;
                    width: 100%;
                    height: auto;
                    z-index: 0;
                    animation: dropShadow 5s linear infinite;
                }
                > div {
                    grid-area: 1/1;
                    display: flex;
                    flex-direction: row;
                    z-index: 1;
                    opacity: 0;
                    > figure {
                        display: flex;
                        align-items: center;
                        position: relative;
                        img {
                            &:first-of-type {
                                position: absolute;
                            }
                            &:nth-of-type(2) {
                                position: relative;
                                z-index: 2;
                            }
                        }
                    }
                    > section {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        align-items: center;
                        justify-content: center;
                        .button {
                            margin-top: 1rem;
                        }
                    }
                }
            }
            .projectOne {
                > div {
                    margin-top: 1rem;
                    figure {
                        max-width: 35rem;
                        width: 100%;
                        img {
                            margin-left: 1rem;
                        }
                        .noise {
                            position: absolute;
                            width: clamp(6rem, 50%, 20rem);
                            height: clamp(2rem, 35%, 20rem);
                            left: 25%;
                            top: 18%;
                            // background-image: url("/glitch/noise1.png");
                            // background-size: 70%;
                            // opacity: 80%;
                            // animation: noiseEffect 0.1s linear infinite both;
                            // background-image: url("/glitch/noise1.png");
                            // opacity: 40%;
                            // animation: noise 0.2s linear infinite both;
                            // background:
                            //     repeating-radial-gradient(#1e8114 0 0.0001%, #1e8114 0 0.0002%) 50% 0 / 2500px 2500px,
                            //     repeating-conic-gradient(#000000 0 0.0001%, #1e8114 0 0.0002%) 60% 60% / 2500px 2500px;
                            // background-image: repeating-radial-gradient(circle at 17% 32%, #1e8114, #000000 0.00085px);

                            // background-blend-mode: difference;
                            // animation: noise;
                            // animation-duration: 3s;
                        }
                    }
                    section {
                        width: 90%;
                        margin-right: 1rem;
                    }
                }
            }
            .projectTwo {
                > div {
                    section {
                        margin-left: 2rem;
                        width: 80%;
                    }
                    figure {
                        max-width: 35rem;
                        width: 100%;
                        margin-right: 1rem;
                        order: 2;
                        img {
                            margin-right: 1rem;
                        }
                        img:nth-of-type(2) {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }
            .projectThree {
                > div {
                    margin-top: 2rem;
                    figure {
                        max-width: 40rem;
                        width: 100%;
                        margin-right: -2rem;
                        margin-left: 1rem;
                    }
                    section {
                        width: 80%;
                        // margin-right: 1rem;
                    }
                }
            }
            .projectFour {
                > div {
                    margin-top: 2rem;
                    section {
                        width: 70%;
                        margin-left: 2rem;
                    }
                    figure {
                        max-width: 35rem;
                        width: 100%;
                        margin-left: -1rem;
                        order: 4;
                        img {
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
}
