main {
    .projectPageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10rem;
        // margin-top: 10rem;
        .heroSection {
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            // height: fit-content;
            height: 100vh;
            max-width: 110rem;
            justify-self: center;
            justify-content: center;
            .funkyShape {
                display: none;
                z-index: -1;
            }
            .projImageContainer {
                position: relative;
                max-width: 40rem;
                img:first-of-type {
                    position: absolute;
                }
                img:nth-of-type(2) {
                    position: relative;
                    z-index: 1;
                }
            }
            .projMetaData {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
                align-items: center;
                .container {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .roles {
                        align-self: center;
                        justify-content: center;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 2rem;
                        .badge {
                            width: fit-content;
                            height: fit-content;
                            .badgeFront {
                                p {
                                    width: 90%;
                                }
                            }
                        }
                    }
                }
                .projDescription {
                    width: 90%;
                    text-align: left;
                }
            }
        }
    }
    .horrorflix-project {
        .heroSection {
            .projImageContainer {
                img:nth-of-type(2) {
                    transform: rotateY(180deg);
                }
            }
        }
    }
    .bac-sac-project {
        .heroSection {
            .projImageContainer {
                max-width: 45rem;
            }
        }
    }
}
