main {
    .projectPageWrapper {
        margin-top: 10rem;
        .heroSection {
            margin: 0 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            // display: grid;
            // grid-template-rows: repeat(2, 1fr);
            // align-items: center;
            height: fit-content;
            max-width: 100rem;
            justify-self: center;
            .funkyShape {
                display: none;
                z-index: -1;
            }
            .projImageContainer {
                // grid-area: 1 / 1 / 2 / 2;
                position: relative;
                max-width: 40rem;
                img:first-of-type {
                    position: absolute;
                }
                img:nth-of-type(2) {
                    position: relative;
                    z-index: 1;
                }
            }
            .projMetaData {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                text-align: center;
                align-items: center;
                // grid-area: 1 / 2 / 2 / 3;
                .container {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .roles {
                        align-self: center;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 2rem;
                        .badge {
                            width: fit-content;
                            height: fit-content;
                            .badgeFront {
                                p {
                                    width: 90%;
                                    // font-size:;
                                }
                            }
                        }
                    }
                }
                .projDescription {
                    width: 80%;
                    text-align: left;
                }
            }
        }
    }
}
