main {
    .projectPageWrapper {
        .projectDetailsSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            margin: 0 1rem;
            .paragraphs {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                max-width: 70rem;
                padding: 1rem;
                background-color: rgb(0, 0, 0, 0.5);
            }
            .imagesAndDescription {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                .projectImages {
                    display: flex;
                    gap: 2rem;
                    overflow-x: auto;
                    overflow-y: hidden;
                    padding: 1rem 0 1rem 0;
                    scroll-snap-type: x mandatory;
                    .projectImage {
                        padding: 1rem;
                        background-color: var(--primaryBackgroundColor);
                        border: 0.3rem solid var(--primaryAccentColor);
                        box-shadow: 0 0 0.5rem var(--primaryAccentColor);
                        flex: 0 0 auto;
                        scroll-snap-align: center;
                        height: fit-content;
                    }
                    &:focus-visible {
                        border: none;
                        outline: 0.4rem solid var(--primaryTextColor);
                    }
                }
            }
            .processParagraphs {
                ul {
                    list-style: disc;
                    padding: 0 0 0 2rem;
                }
            }
            .scrollIndicator {
                display: flex;
                flex-direction: row;
                gap: 2rem;
            }
            .demonstrationVideoContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;
                .tvShape {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 4rem;
                    background-color: var(--primaryAccentColor);
                    position: relative;
                    z-index: -1;
                    box-shadow: 0 0 1rem var(--primaryAccentColor);
                    margin-bottom: -4rem;
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        width: 8rem;
                        height: 0.5rem;
                        background-color: var(--primaryAccentColor);
                        box-shadow: 0 0 1rem var(--primaryAccentColor);
                        border-radius: 1rem;
                    }
                    &::before {
                        transform: rotate(45deg);
                        left: -50%;
                    }
                    &::after {
                        transform: rotate(-45deg);
                        right: -50%;
                    }
                }
                .videoFrame {
                    width: 70%;
                    padding: 1rem;
                    background-color: var(--primaryBackgroundColor);
                    border: 1rem solid var(--primaryAccentColor);
                    box-shadow: 0 0 0.5rem var(--primaryAccentColor);
                    flex: 0 0 auto;
                    video {
                        width: 100%;
                    }
                }
            }
            .buttonContainer {
                display: flex;
                flex-direction: row;
                gap: 3rem;
                justify-content: center;
            }
        }
    }
    .escape-manager-project {
        .projectDetailsSection {
            .projectImages {
                .projectImage {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: clamp(20rem, 30vw, 50rem);
                        width: auto;
                        object-fit: contain;
                        display: block;
                    }
                }
            }
        }
    }
    .our-solar-system-project {
        .heroSection {
            .projImageContainer {
                max-width: 30rem;
            }
        }
        .projectDetailsSection {
            .introParagraphs,
            .processParagraphs {
                gap: 2rem;
            }
            .singleProjectImage {
                display: flex;
                justify-content: center;
                .projectImage {
                    padding: 1rem;
                    background-color: var(--primaryBackgroundColor);
                    border: 0.3rem solid var(--primaryAccentColor);
                    box-shadow: 0 0 0.5rem var(--primaryAccentColor);
                    flex: 0 0 auto;
                    width: 80%;
                    img {
                        width: 100%;
                    }
                }
            }
            .projectImages {
                .projectImage {
                    width: 80%;
                    height: fit-content;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .bac-sac-project {
        .projectDetailsSection {
            .imagesAndDescription {
                .bacSacProjImages {
                    display: flex;
                    gap: 2rem;
                    overflow-x: auto;
                    overflow-y: hidden;
                    padding: 1rem 0 1rem 0;
                    scroll-snap-type: x mandatory;
                    .projectImage {
                        padding: 1rem;
                        background-color: var(--primaryBackgroundColor);
                        border: 0.3rem solid var(--primaryAccentColor);
                        box-shadow: 0 0 0.5rem var(--primaryAccentColor);
                        flex: 0 0 auto;
                        scroll-snap-align: center;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            height: clamp(20rem, 30vw, 45rem);
                            width: auto;
                            object-fit: contain;
                            display: block;
                        }
                    }
                }
                .bacSacProjImagesBig {
                    .projectImage {
                        img {
                            height: clamp(40rem, 60vw, 70rem);
                        }
                    }
                }
            }
        }
    }
    .horrorflix-project {
        .projectDetailsSection {
            .horrorflixProjImages,
            .singleProjectImage {
                display: flex;
                gap: 2rem;
                overflow-x: auto;
                overflow-y: hidden;
                padding: 1rem 0 1rem 0;
                scroll-snap-type: x mandatory;
                .projectImage {
                    padding: 1rem;
                    background-color: var(--primaryBackgroundColor);
                    border: 0.3rem solid var(--primaryAccentColor);
                    box-shadow: 0 0 0.5rem var(--primaryAccentColor);
                    flex: 0 0 auto;
                    scroll-snap-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: clamp(15rem, 30vw, 45rem);
                        width: auto;
                        object-fit: contain;
                        display: block;
                    }
                }
            }
            .demonstrationVideoContainer {
                .videoFrame {
                    video {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.projectImages,
.projectImagesBig,
.bacSacProjImages,
.horrorflixProjImages {
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-track {
        background: var(--primaryBackgroundColor);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--primaryAccentColor);
        &:hover,
        &:active {
            background-color: var(--secondaryAccentColor);
        }
    }
}
