@use "base/reset";
@use "base/typography";

@use "components/header";
@use "components/footer";
@use "components/introductionCard";
@use "components/projectPreview";
@use "components/aboutMe";
@use "components/experience";

@use "projectComponents/hero";
@use "projectComponents/badge";
@use "projectComponents/projectDetails";

@use "helpers/variables";
@use "helpers/classes";
@use "helpers/animations";
@use "helpers/interactions";

@use "layout/background";
@use "layout/mediaQueries";
