html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    // gap: 8rem;
}

ul,
figure,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}
