html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

ul,
figure,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

button,
a {
    user-select: none;
}

button {
    padding: 0;
    border: none;
}

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100vh;
}
