h1,
h2,
h3,
h4 {
    font-family: "Rocket Command", sans-serif;
}

h1 {
    font-size: clamp(2rem, 5vw, 3rem);
    font-style: italic;
}

.projectPageWrapper h1 {
    font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
    font-size: clamp(1.8rem, 5vw, 2.6rem);
    font-style: italic;
}

h3 {
    font-size: clamp(1.6rem, 4vw, 2.4rem);
    font-style: italic;
}

p,
li,
a,
button,
div,
small {
    font-family: "Space Grotesk", sans-serif;
    color: var(--primaryTextColor);
}

p,
li {
    font-size: clamp(1.4rem, 3vw, 1.8rem);
}

button,
div {
    font-size: clamp(1.4rem, 3vw, 1.8rem);
}

a p {
    font-size: clamp(1.4rem, 3vw, 2rem);
}

small {
    font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.introduction {
    h1 {
        color: var(--secondaryTextColor);
        filter: drop-shadow(0 0 0.2rem var(--secondaryTextColor));
    }
    p {
        color: var(--secondaryTextColor);
        font-weight: 300;
        strong {
            font-weight: 900;
            font-style: italic;
        }
    }
}

.project {
    h2,
    p {
        align-self: baseline;
    }
}

footer {
    p {
        color: var(--tertiaryTextColor);
        font-weight: 500;
    }
}

.timeline::before {
    font-family: "Rocket Command", sans-serif;
    font-size: clamp(2rem, 4vw, 4rem);
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.scrollIndicator {
    strong {
        color: var(--secondaryTextColor);
        font-style: italic;
    }
}

footer {
    small {
        color: var(--tertiaryTextColor);
    }
}
